{% extends "layout.html" %}

{% block title %}
    Burn-Fat
{% endblock %}

{% block main %}

<div class="container" style="background-color:#f8f8f8; border-radius: 5px; padding: 20px;">
    <h1>Statistics</h1>
        Your BMI is {{bmi}} {{ bmiStatement }}<br>
        Your BMR is {{BMR}} <br>
        Current Weight : {{ currentweight }} Must Have Weight : {{idealWeight}}
        <br>Age : {{ age }}<br>
        <br>
    <h1>Past Events</h1>
           <table class = "table table-striped">
               <thead>
                   <tr>
                       <th>Food</th>
                       <th>Steps Walked</th>
                       <th>Jog (km)</th>
                       <th>Sleep (hrs)</th>
                       <th>Calories Burned</th>
                       <th>Date</th>
                       <th>Time</th>
                   </tr>
               </thead>
               <tbody>
                {% for data in userData %}
                   <tr>
                       <td>{{ data.food }}</td>
                       <td>{{ data.steps }}</td>
                       <td>{{ data.jog }}</td>
                       <td>{{ data.sleep }}</td>
                       <td>{{ data.calories }}</td>
                       <td>{{ data.created_at.strftime('%Y-%m-%d') if data.created_at else '' }}</td>
                       <td>{{ data.created_at.strftime('%H:%M') if data.created_at else '' }}</td>
                   </tr>
                {% endfor %}
               </tbody>
               <tfoot>
                   <tr style="font-weight: bold; border-top: 2px solid #ddd;">
                       <td>Total</td>
                       <td>{{ totalWalked }}</td>
                       <td>{{ totalJog }}</td>
                       <td>{{ totalSleep }}</td>
                       <td>{{ totalCaloriesBurned }}</td>
                       <td></td>
                       <td></td>
                   </tr>
               </tfoot>
           </table>

</div>

{% endblock %}
