{% extends "layout.html" %}

{% block title %}
    Yoga
{% endblock %}

{% block main %}


<h1>Yoga</h1>
<div>play the audio and do as in below</div>
<div><audio controls autoplay loop preload>
  <source src="http://api.soundcloud.com/tracks/24767632/stream?client_id=a134b94768119b9018a115c2466e82f2&amp.ogg" type="audio/ogg">
  <source src="http://api.soundcloud.com/tracks/24767632/stream?client_id=a134b94768119b9018a115c2466e82f2&amp.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>
<div id="rectangle" style="width:number px; height:number px; background-color:#f8f8f8">
    <h1> Tadasana (Mountain Pose)</h1>
    <img src="https://i.ndtvimg.com/i/2015-10/tadasana_625x350_81444284309.jpg">
    <p>This pose teaches one to stand with majestic steadiness like a mountain. The word ‘Tada’ means a mountain, that’s where the name comes from. It involves the major groups of muscles and improves focus and concentration. It is the starting position for all the other poses.</p>
</div>
<div id="rectangle" style="width:number px; height:number px; background-color:#f8f8f8">
    <h1>Vrikshasana (Tree Pose)</h1>
    <img src = "https://i.ndtvimg.com/i/2015-10/vrikshasna_625x350_51444284336.jpg">
    <p>This pose gives you a sense of grounding. It improves your balance and strengthens your legs and back. It replicates the steady stance of a tree. Place your right foot high up on your left thigh. The sole of the foot should be flat and placed firmly. Keep your left leg straight and find your balance. While inhaling, raise your arms over your head and bring your palms together. Ensure that your spine is straight and take a few deep breaths. Slowly exhale, bring your hands down and release your right leg. Back in the standing position repeat the same with the other leg.</p>
</div>
<div id="rectangle" style="width:number px; height:number px; background-color:#f8f8f8">
    <h1>Adho Mukho Svanasana (Downward Facing Dog Pose)</h1>
    <img src = "https://i.ndtvimg.com/i/2015-10/adho-mukho_625x350_81444284366.jpg">
    <p>This pose stretches hamstrings, chest and lengthens the spine, providing additional blood flow to the head. It is will leave you feeling energized. Sit on your heels, stretch your arms forward on the mat and lower your head. Form a table, like pushing your hands, strengthening your legs and slowly raising your hips. Press your heels down, let your head hand freely and tighten your waist.</p>
</div>
<div id="rectangle" style="width:number px; height:number px; background-color:#f8f8f8">
    <h1>Trikonasana (Triangle Pose)</h1>
    <img src = "https://i.ndtvimg.com/i/2015-10/trikoasana_625x350_81444284398.jpg">
    <p>It stretches the legs and torso, mobilizes the hips and promotes deep breathing, leaving one with enlivening effects. Stand with your feet wide apart. Stretch your right foot out (90 degrees) while keeping the leg closer to the torso. Keep your feet pressed against the ground and balance your weight equally on both feet. Inhale and as you exhale bend your right arm and make it touch the ground while your left arm goes up. Keep your waist straight. Ensure that your body is bent sideways and not forward or backwards. Stretch as much as you can while taking long, deep breaths. Repeat on the other side.</p>
</div>

<div id="rectangle" style="width:number px; height:number px; background-color:#f8f8f8">
    <h1>Kursiasana (Chair Pose)</h1>
    <img src = "https://i.ndtvimg.com/i/2015-10/chair-pose_625x350_71444284419.jpg">
    <p>An intensely powerful pose, this one strengthens the muscles of the legs and arms. It builds your willpower and has an energizing effect on the body and mind. Stand straight with your feet slightly apart. Stretch your arms but don’t bend your elbow. Inhale and bend your knees, pushing your pelvis down like you are sitting on chair. Keep your hands parallel to the ground and back straight. Take deep breaths. Bend gradually but make sure your knees don’t go beyond your toes.</p>
</div>


{% endblock %}
